<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eyes on the past</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="DC.title" content="Eyes on the Past">
    <meta name="DC.description" content="Faces offer an instant connection to history, reminding us that the past is full of people. People like us, but different. On this site I’m exploring whether faces can provide a way to explore more than 120 million newspaper articles available on Trove.">
    <meta name="og:title" content="Eyes on the Past">
    <meta name="og:image" content="{{ image_path }}eyespast.jpg">
    <meta name="og:url" content="http://eyespast.herokuapp.com/">
    <meta name="og:type" content="website">
    <meta name="og:description" content="Faces offer an instant connection to history, reminding us that the past is full of people. People like us, but different. On this site I’m exploring whether faces can provide a way to explore more than 120 million newspaper articles available on Trove.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@wragge">
    <meta name="twitter:title" content="Eyes on the Past">
    <meta name="twitter:description" content="Faces offer an instant connection to history, reminding us that the past is full of people. People like us, but different. On this site I’m exploring whether faces can provide a way to explore more than 120 million newspaper articles available on Trove.">
    <meta name="twitter:img:src" content="{{ image_path }}eyespast.jpg">
  </head>
  <body>
    <div class="container">
    <h1>Eyes on the past</h1>
    <div class="isotope">
      {% for face in faces %}
        <div class="item">
          <div id="item-{{ loop.index }}" class="item-content" style="display:none;" data-img="{{ image_path }}{{ face.image }}0.jpg">
            <img class="eye" title="please, let me in..." src="{{ image_path }}{{ face.image }}{{ face.eyes|random }}.jpg">
            <div class="caption" style="display:none;"><a title="find me in Trove..." target="_blank" href="http://nla.gov.au/nla.news-article{{ face.article_id }}">{{ face.title }}<br>{{ face.f_date }}</a></div>
          </div>
        </div>
      {% endfor %}
    </div>
    <footer>
      <p>by <a href="http://discontents.com.au/about-me">Tim Sherratt</a> (<a href="http://twitter.com/wragge">@wragge</a>)</p>
      <p><a href="/about">about this...</a></p>
    </footer>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>